<div class="combobox-inner">
  <input readonly type="text" [value]="getOptionSelected()" />
  <mat-icon
    class="clear-combobox"
    *ngIf="showClearCombobox"
    (click)="resetOptionSelected()"
    >close</mat-icon
  >
  <mat-icon class="open-combobox">arrow_drop_down</mat-icon>

  <div class="combobox-dropdown">
    <div class="search-combobox combobox-option">
      <input
        type="checkbox"
        *ngIf="multiple"
        [(ngModel)]="checkboxAll"
        [indeterminate]="indeterminateCheckboxAll"
        (change)="onToggleCheckboxAll($event)"
      />
      <input type="text" placeholder="Pesquisar..." />
      <mat-icon (click)="optionSelected = null">close</mat-icon>
    </div>

    <ul class="list-options-combobox">
      <li
        *ngFor="let option of options"
        class="combobox-option"
        [class.active]="option === optionSelected"
        (click)="onSelectOption(option, !option.selected)"
      >
        <input type="checkbox" *ngIf="multiple" [(ngModel)]="option.selected" />
        {{ option.name }}
      </li>
    </ul>
  </div>
</div>
